<!DOCTYPE html>
<html>
  <head>
    <title>Login - Bank</title>
  </head>
  <body>
    <div class="container">
      <h1>Bank Techvetti</h1>

      <!-- <form [formGroup]="loginForm" novalidate>
        <input type="number" min="100" formControlName="amount">
        <button (click)="validateCalc()" [disabled]="loginForm.controls['amount'].invalid">Continuar</button>
        {{loginForm.controls['amount'].invalid}}
    </form> -->

      <form [formGroup]="loginForm" novalidate>
        <label for="username">ID:</label>
        <input type="text" id="username" name="username" formControlName="user">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" formControlName="password">
        <br>
        <button (click)="validateLogin()" >Entrar</button>
      </form>
      
    </div>
  </body>
</html>
