<div class="component-container">
    <div class="title-page">
        <h2>Home</h2>
        <button (click)="offLogin()">Click here to leave</button>
    </div>

    <div class="container">
        <div class="card-home see-more flex-box-card">
                <h2 class="p-name">Hello, {{clientLogged.name}}</h2>
                <div>
                    <span>Balance</span>
                    <h2 class="Balance">{{clientLogged.balance | currency}}</h2>
                </div>
        </div>

        <div class="card-home see-more flex-box-card">
            <h2>Your Investiments</h2>
            <button (click)="goToMyInvestments()">My Investments</button>
        </div>

        <div class="card-home see-more flex-box-card">
            <h2>List of Investments</h2>
            <button (click)="goToFunds()">See Investments</button>
        </div>


        <!-- <div class="funds-container">
            <h2>Lista de fundos</h2>
            <div class="funds-title">
                <p class="funds-item">Nome</p>
                <p class="funds-item">Tipo</p>
                <p class="funds-item">Rentabilidade</p>
            </div>

            <div class="funds-list">

                <div class="fund flex-box" *ngFor="let item of investment">
                    <p class="fund-name funds-item">{{item.name}}</p>
                    <p class="funds-item">{{item.category}}</p>
                    <p class="funds-item">{{item.profitability}}</p>
                    <button>Investir</button>
                </div>
                
                <div class="see-more">
                    <button (click)="goToFunds()">Ver lista completa</button>
                </div>
                
            </div>
        </div> -->
    </div>
</div>