
<div class="aside-menu">

    <div class="logo">        
        <p>PRIME BANK</p>
    </div>

    <div class="itens-container">
        <div class="menu-item">
            <!-- <mat-icon>home</mat-icon> -->
            <p>HOME</p>
        </div>
        <div class="menu-item">
            <!-- <mat-icon>home</mat-icon> -->
            <p>My Investments</p>
        </div>
        <div class="menu-item">
            <!-- <mat-icon>home</mat-icon> -->
            <p>Fund List</p>
        </div>
    </div>
</div>