
<div class="aside-menu">

    <div class="logo">        
        <p>PRIME BANK</p>
    </div>

    <div class="itens-container">
        <div class="menu-item">
            <!-- <mat-icon>home</mat-icon> -->
            <p>HOME</p>
        </div>
        <div class="menu-item">
            <!-- <mat-icon>home</mat-icon> -->
            <p>Meus Investimentos</p>
        </div>
        <div class="menu-item">
            <!-- <mat-icon>home</mat-icon> -->
            <p>Lista de Fundos</p>
        </div>
    </div>
</div>